body{
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    position: fixed;
    align-items: center;
    font-size: 24px;
}

.header-left {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-right {
    margin-left: auto;
    margin-right: 20px;
}

.button-headerleft {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}
.button-headerleft:hover {
    text-decoration: underline;
}

.button-headerright {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}
.button-headerright:hover {
    text-decoration: underline;
}

.main{
    position: relative;
    width: auto;
    height: auto;

}

.side{
    background-color: aquamarine;
    position: fixed;
    top: 70px;
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
    height: auto;
}

.inside{
    background-color: rgb(195, 255, 127);
    display: block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    
}

.fitem{
    margin-top:5px
}

.content{
    position: absolute ;
    width: calc(100% - 350px);
    height: auto;
    top: 80px;
    right: 30px;
    z-index: -1;
}

.sellitem{
    text-align: center;
    font-size: 50px;
}

.wh{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10px;
    top: 70px;
}