:root {
    --base-font-size: 1.3vw;
    --head-font-size: 2.5vw;
}

.picbg{
    background-color: white;
    position: absolute;
    left: 5%;
    top: 25%;
    width: 50%;
    height: calc(40vh + 10vw);
    display: flex;
    justify-content: center;
}

.pic{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.box{
    position: absolute;
    top:25%;
    left : 58%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 40%;
    height: 60%;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--base-font-size);
}

.tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--base-font-size);
}

.namebox{
    position: absolute;
    left: 5%;
    top: 15%;
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    font-size: var(--head-font-size);
}


.footbar{
    position: fixed;
    left: 5%;
    top: 85%;
    margin-top: 1%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: calc(var(--head-font-size) - .5vw);
}

.price{
    font-size: var(--base-font-size);

}

.chat{
    position: absolute;
    bottom: 8vh;
    right: 2vw;
}

.btt{
    background-color: rgb(72, 226, 0);
    padding: 10px 3vw; 
    color: rgb(255, 255, 255);      
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;   
    font-weight: bold;
}

.btt:hover{
    background-color: rgb(61, 195, 0);;
}

.coinbuy{
    position: absolute;
    bottom: 8vh;
    right: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pdlf{
    margin-left: 10px;
}

.bbtn{
    background-color: rgb(72, 226, 0);
    color: #fff;
    padding: 11.5px 2.7vw;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    border-radius: 5px;   
    font-weight: bold;
}

.bbtn:hover {
    background-color: rgb(61, 195, 0);;
  }

.ipbox{
    width: 200px;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.message{
    position: absolute;
    top: 83%;
    left: 72%;
}

@media only screen and (max-width: 1700px) {

    .coinbuy{
        bottom: 8vh;
        right: 11vw;
    }

    :root {
        --base-font-size: 25px;
        --head-font-size: 28px;
    }

    
}

@media only screen and (max-width: 1200px) {

    .coinbuy{
        bottom: 8vh;
        right: 12vw;
    }

    .footbar{
        left: 5%;
        width: 50%;
        font-size: 25px;
    }

    :root {
        --base-font-size: 20px;
        --head-font-size: 23px;
    }
    
}

@media only screen and (max-width: 900px) {

    .coinbuy{
        bottom: 8vh;
        right: 13vw;
    }
    
    .footbar{
        left: 5%;
        top: 75%;
        font-size: 20px;
    }
}


@media only screen and (max-width: 700px) {

    .coinbuy{
        bottom: 8vh;
        right: 14vw;
    }

}



@media only screen and (max-width: 600px) {
    :root {
        --base-font-size: 15px;
        --head-font-size: 18px;
    }

    .coinbuy{
        bottom: 8vh;
        right: 15.5vw;
    }
}