.main {
    display: flex;
    justify-content: flex-start;
    z-index: -2;
}

.pic {
    height: 168px;
    object-fit: contain;

}

.picbg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 350px;
    background-color: white;
    margin-top: 20px;
}
.side{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 10vh;
    margin-left: 2%;
    margin-top: 10px;
    width: 20%;
    height: auto;
    min-width: 350px;
    border: 1px solid rgb(255, 227, 216);
}

.inside{
    background-color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;

}


.text{
    text-align: start;
    margin-left: 3.7%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:20px;
    color: black;
    text-decoration: none;
}

.content{
    display: flex;
    background-color: rgb(255, 250, 244);
    width: 75%;
    height: auto;
    min-height: 500px;
    margin-top: calc(10vh + 10px);
    margin-left: max(470px , 300px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin-right: 10px;
}


.boxitem{
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    height: 450px;
    width: 24%;
    margin-bottom: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 227, 216);
    border-radius: 10px;  
}

.ipic {
    max-height: 270px; 
    max-width: 480px; 
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: contain;
}

.ibcpic {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    width: 80%; 
    max-width: 480px;
    height: auto;
    top: 30px;
    left: 25%; 
}

.name{
    bottom: 20%;
    position: absolute;
    overflow:hidden;
    font-size: 2.5vw;
    text-align: center;
    color: black;
}

.price{
    position: absolute;
    bottom: 10%;
    right: 20px;
    font-size: 2vw;
    text-align: start;
    color: black;
}

.delete{
    position: absolute;
    left: 3%;
    bottom: 3%;
}


@media only screen and (max-width: 1450px) {
    .boxitem{
        background-color: white;
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        padding-top: 15px;
        height: 450px;
        width: 32%;
        margin-bottom: 10px;
        margin-right: 10px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 227, 216);
        border-radius: 10px;  
    }
}

@media only screen and (max-width: 1210px) {
    .boxitem{
        background-color: white;
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        padding-top: 15px;
        height: 450px;
        width: 47%;
        margin-bottom: 10px;
        margin-right: 10px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 227, 216);
        border-radius: 10px;  
    }
}

@media only screen and (max-width: 850px) {
    .boxitem{
        background-color: white;
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        padding-top: 15px;
        height: 450px;
        width: 95%;
        margin-bottom: 10px;
        margin-right: 10px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 227, 216);
        border-radius: 10px;  
    }
}

@media only screen and (max-width: 700px) {
    /* TODO : hide sidebar */
}