body{
    background-color: rgb(255, 250, 244);
}

.form1{
    margin-top: 4vh;
}


.form2{
    margin-top: 2vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 25vh;
    background-color: #ffffff;
    width: 30vw;
    height: 50vh;
    border-radius: 20px;
    border: none;
    text-align: center;
    min-width: 450px;
}

.top{
    margin-top: 5vh;
    font-size: 35px;
}

.inputbox{
    width: 80%;
    height: 25px;
    margin-bottom: 3.5vh;
    border-style: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.inputbox input::placeholder{
    padding-left: 10px;
}

.submit{
    width: 20vw;
    height: 40px;
    border-style: none;
    background-color: rgb(190, 225, 255);
    border-radius: 10px;
}

.submit:hover{
    background-color: rgb(216, 238, 255) ;
    transition: 0.2s;

}

.signup{
    text-decoration: none;
    color: rgb(53, 216, 3);
}

.signup:hover{
    color: rgb(166, 255, 139);
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.btng{
    background-color: rgb(72, 226, 0);
    padding: 10px 20px; 
    color: rgb(255, 255, 255);      
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;   
    font-weight: bold;
    border: none;
    margin-top: 30px;
}

.btng:hover{
    background-color: rgb(61, 195, 0);;
}

.mycoin{
    font-size: 20px;
}