{% extends 'user/layout.html' %}

{% block title %}Change password{% endblock %}

{% block body %}
<div>
    <div>
        Change Password
    </div>
    <form action="{% url 'user:chpass' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <input type="password" name="newpass" required>
            <label>New Password</label>
        </div>
        <div class="field">
            <input type="password" name="cnewpass" required>
            <label>Confirm New Password</label>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="field">
            <input type="submit" value="Confirm">
        </div>
    </form>
</div>
{% endblock %}