{% extends "user/layout.html" %}
{% load static %}
{% block title %}Edit Profile{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="box" style="height: 60vh; margin-top: 160px;">
    <div class="top">Edit Your Profile</div>
        <form method="post"  class="form1">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label for="displayname" >Nickname:</label>
                    <input type="displayname" class="inputbox" id="displayname" name="displayname" value="{{ form.displayname.value }}">
                </div>
                <div class="form-group">
                    <label for="firstname" >First Name:</label>
                    <input type="firstname" class="inputbox" id="firstname" name="firstname" value="{{ form.firstname.value }}">
                </div>
                <div class="form-group">
                    <label for="lastname" >Last Name:</label>
                    <input type="lastname" class="inputbox" id="lastname" name="lastname" value="{{ form.lastname.value }}">
                </div>
                <div class="form-group">
                    <label for="phone" >Phone:</label>
                    <input type="phone" class="inputbox" id="phone" name="phone" value="{{ form.phone.value }}" maxlength="10" minlength="10">
                </div>
                <div class="form-group">
                    <label for="userdescription" >Description:</label>
                    <input type="userdescription" class="inputbox" id="userdescription" name="userdescription" value="{{ form.userdescription.value }}">
                </div>
                <button type="submit" class="submit">Save</button>
            </div> 
        </form>
    </div>
    </div>
</div>
{% endblock body %}
