{% extends "user/layout.html" %}
{% block body %}
<div class="card-header">
    <h3 class="login">Edit Your Profile</h3> 
</div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
                <label for="userpicture'" class="mt-2">Profile:</label>
                <input type="file" class="form-control" id="userpicture" name="userpicture" value="{{ form.userpicture.value }}">
            </div>
            <div class="form-group">
                <label for="displayname'" class="mt-2">Nickname:</label>
                <input type="displayname" class="form-control" id="displayname" name="displayname" value="{{ form.displayname.value }}">
            </div>
            <div class="form-group">
                <label for="firstname'" class="mt-2">First Name:</label>
                <input type="firstname" class="form-control" id="firstname" name="firstname" value="{{ form.firstname.value }}">
            </div>
            <div class="form-group">
                <label for="lastname'" class="mt-2">Last Name:</label>
                <input type="lastname" class="form-control" id="lastname" name="lastname" value="{{ form.lastname.value }}">
            </div>
            <div class="form-group">
                <label for="phone" class="mt-2">Phone:</label>
                <input type="phone" class="form-control mb-3" id="phone" name="phone" value="{{ form.phone.value }}">
            </div>
            <div class="form-group">
                <label for="userdescription" class="mt-2">Description:</label>
                <input type="userdescription" class="form-control" id="userdescription" name="userdescription" value="{{ form.userdescription.value }}">
            </div>
            <button type="submit" class="submit">Save</button>
        </div> 
    </form>
</div>
{% endblock body %}
