{% extends 'swapmarket/layout.html' %}

{% load static %}
{% block title %}Edit Profile{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="box" style="height: 65vh; margin-top: 160px;min-width: 500px; min-height: 650px">
    <div class="top">Edit Your Profile</div>
        <form method="post"  class="form1" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label for="displayname" >Nickname:</label>
                    <input type="displayname" class="inputbox" id="displayname" name="displayname" value="{{ form.displayname.value }}">
                </div>
                <div class="form-group">
                    <label for="firstname" >First Name:</label>
                    <input type="firstname" class="inputbox" id="firstname" name="firstname" value="{{ form.firstname.value }}">
                </div>
                <div class="form-group">
                    <label for="lastname" >Last Name:</label>
                    <input type="lastname" class="inputbox" id="lastname" name="lastname" value="{{ form.lastname.value }}">
                </div>
                <div class="form-group">
                    <label for="phone" >Phone:</label>
                    <input type="phone" class="inputbox" id="phone" name="phone" value="{{ form.phone.value }}" maxlength="10" minlength="10">
                </div>
                <div class="form-group">
                    <label for="bank" >Bank:</label>
                    <input type="bank" class="inputbox" id="bank" name="bank" value="{{ form.bank.value }}">
                </div>
                <div class="form-group">
                    <label for="bankid" >BankID:</label>
                    <input type="bankid" class="inputbox" id="bankid" name="bankid" value="{{ form.bankid.value }}">
                </div>
                
                <div class="form-group">
                    <label for="userdescription" >Description:</label>
                    <input type="userdescription" class="inputbox" id="userdescription" name="userdescription" value="{{ form.userdescription.value }}">
                </div>
                <div class="form-group" >
                    <label for="userpicture'" class="mt-2">Profile:</label>
                    <input type="file" class="form-control" id="userpicture" name="userpicture" value="{{ form.userpicture.value }}">
                </div>
                <button type="submit" class="submit" style="margin-top: 20px;">Save</button>
            </div> 
        </form>
    </div>
    </div>
</div>
{% endblock body %}
