{% extends 'user/layout.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ user.userpicture.url }}" alt="User Picture" height="100px">
        {% if user.displayname != "None" %}
            <p>Nickname: {{ user.displayname }} </p>
        {% endif %}
        <p>Name: {{ user.firstname }} {{ user.lastname }} </p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
        {% if user.userdescription != "None" %}
            <p>userdescription: {{ user.userdescription }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}