{% extends 'user/layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="side">
        <div class="picbg"><img src="{{ user.userpicture.url }}" alt="User Picture" class="pic"></div>
        <div class="inside">
            <div class="text">
                {% if user.displayname != None %}
                <p>Nickname: {{ user.displayname }} </p>
                {% endif %}
                <p>Name: {{ user.firstname }} {{ user.lastname }} </p>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Phone: {{ user.phone }}</p>
                {% if user.userdescription != None %}
                <p>Description :</p>
                <textarea rows="10" cols="40" readonly style="resize: none; outline: none;">{{ user.userdescription }}</textarea>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content">
        <a href="#" class="boxitem">Comming soon</a>
        <a href="#" class="boxitem">Comming soon</a>
    </div>
</div>
{% endblock %}

