{% extends 'swapmarket/layout.html' %}
{% load static %}
{% block title %}Registered{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
<div class="box" style="height: 600px; min-width: 300px;">
    <div class="top" style="padding-bottom: 3vh;">Registered</div>
    <form method="post" enctype="multipart/form-data" action="{% url 'user:registered' %}">
        {% csrf_token %}
        <input type="text" name="phone" id="phone" class="inputbox" required placeholder="Phone" maxlength="10" minlength="10">
        <input type="text" name="firstname" id="firstname" class="inputbox" required placeholder="First Name">
        <input type="text" name="lastname" id="lastname" class="inputbox" required placeholder="Last Name">
        <textarea name="userdescription" id="userdescription" class="inputbox" placeholder="User Description (Not required)"></textarea>
        <br>
        <label for="userpicture" style="color: rgb(109, 109, 109);">User Picture:</label>
        <input type="file" name="userpicture" id="userpicture" class="inputbox-file" accept="image/*" placeholder="User Picture">
        {% if message %}
            <p style="color: red; margin-top: 1.5vh;">{{ message }}</p>
        {% endif %}
        <input type="submit" value="Create Account" class="submit" style="min-width: 160px; margin-top: 1.5vh;">
    </form>
</div>
</div>
{% endblock %}
