{% extends 'user/layout.html' %}
{% load static %}
{% block title %}Change password{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="box" style="height: 38vh;">
        <form method="post" action="{% url 'user:send_message' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>
    </div>  
</div>
{% endblock %}