{% extends 'swapmarket/layout.html' %}

{% block title %}Sign in{% endblock %}

{% block body %}
<div>
    <div>
        Sign in
    </div>
    <form action="{% url 'user:signin' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="username" required>
            <label>Username</label>
        </div>
        <div>
            <input type="password" name="password" required>
            <label>Password</label>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </div>
        <br>
        <div>
            <input type="submit" value="Sign in">
        </div>
    </form>
</div>
{% endblock %}
