{% extends 'swapmarket/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}
<div>
    <div>
        Sign up
    </div>
    <form action="{% url 'user:signup' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="username" required>
            <label>Username</label>
        </div>
        <div>
            <input type="email" name="email" required>
            <label>Email</label>
        </div>        
        <div>
            <input type="password" name="password" required>
            <label>Password</label>
        </div>
        <div>
            <input type="password" name="cpassword" required>
            <label>Confirm Password</label>
        </div>
        <br>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <div>
            <input type="submit" value="Continue">
        </div>
    </form>
</div>
{% endblock %}
