{% extends 'swapmarket/layout.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    {% block body %}
    <div style="padding-left: 20px;">
        <h2 style="font-size: 40px;">โครงงานวิชา CN331</h2>
        <p style="font-size: 25px;">
            Goal - สร้างเว็บแอพสำหรับนักศึกษาหรือบุคคลในมหาลัยธรรมศาสตร์ที่ต้องการซื้อหรือขายสินค้ารอบๆบริเวณมหาวิทยาลัย โดยผู้ใช้สามารถลงขายสินค้า หรือเลือกหาสินค้าที่ต้องการได้
            <br>Problem solve - เนื่องจากนักศึกษาในบางครั้งมีสิ่งของที่ไม่ต้องการใช้แล้วหรือมีสินค้าที่ต้องการขายแต่เนื่องจากปัจจุบันไม่มีช่องทางขายที่เหมาะสมสำหรับการซื้อขายของบุคคลในมหาวิทยาลัย
                ทางเราจึงอยากสร้างเว็บแอพในการซื้อขายสินค้ากันภายในบริเวณมหาลัย
            <br>Vision - สร้างเว็บแอพที่ใช้งานสะดวกเข้าใจง่าย มีความปลอดภัยในการซื้อขายสินค้า เพื่อให้ซื้อขายได้อย่างง่ายดาย 
                นอกจากนี้แล้วเรายังสามารถต่อยอดในการหารายได้ของเว็บโดยการให้มีการซื้อพื้นที่ในการวางขายสินค้าเพิ่มและอาจจะมีการคิดค่าธรรมเนียมในการซื้อขายสินค้า
        </p>
    </div>
    <div style="padding-left: 20px;">
        <h2 style="font-size: 40px;">สมาชิกกลุ่ม</h2>
        <p style="font-size: 25px;">นายณัฐชนน จันทร์รุ่งโรจน์ 6410615048<br>
        นายกรวัชร์ เปลี่ยนสุวรรณ 6410685066<br>
        นายเจตพัฒน์ ตันเทียว 6410685090<br>
        นายเฏชินท์ บุญพุทธรักษ์ 6410685108<br>
        นายณัฐภัทร โชติเสน 6410685116</p>
    </div>

    <div style="padding-left: 20px;">
        <h2 style="font-size: 40px;">Link</h2>
        <a href="https://www.pivotaltracker.com/projects/2682519" \
        style="font-size: 25px;">PivotalTracker</a><br><br>
        <a href="https://github.com/6410685090/TUSwapMarket"  \
        style="font-size: 25px;">GitHub Repository</a>
    </div>
    {% endblock %}
    
</body>
</html>
   
