{% extends 'swapmarket/layout.html' %}
{% load static %}
{% block title %}Deposit page{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="box" style="min-height: 300px;">
        <div class="top">
            Deposit Coins
        </div>
        <div class="mycoin" style="margin-top: 30px;">
            Balance : {{ user.coins_balance }}
        </div>
        <img src="{% static 'swapmarket/pic/payment.png' %}" alt="" style="width: 100px; margin-top: 20px;">
        <form method="post" action="{% url 'deposit_coins' %}" style="margin-top: 30px;" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btng">Deposit</button>
        </form>
    </div> 
    <div class="box2">
        <div style="margin-top:15px;">
        <table>
            <thead>
              <tr>
                <th>Username</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for deposit in pending_deposits %}
                <tr>
                  <td>{{ deposit.receiver.username }}</td>
                  <td>{{ deposit.amount }}</td>
                  <td>
                    {% if deposit.is_confirmed %}
                        Complete
                    {% else %}
                        Pending
                    {% endif %}
                  </td>
                  <td>
                    {% if deposit.is_confirmed %}
                    {{ deposit.confirmed_at}}
                    {% else %}
                    {{ deposit.created_at}}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>
    </div> 
</div>
{% endblock %}