{% extends 'swapmarket/layout.html' %}
{% load static %}
{% block title %}Deposit page{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="box" style="height: 38vh;">
        <div class="top">
            Deposit Coins
        </div>
        <div class="mycoin" style="margin-top: 30px;">
            Balance : {{ user.coins_balance }}
        </div>
        <form method="post" action="{% url 'deposit_coins' %}" style="margin-top: 30px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Deposit</button>
          </form>
    </div>  
</div>
{% endblock %}