{% extends 'swapmarket/layout.html' %}
{% load static %}
{% block title %}Admin Deposit{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'swapmarket/css/cart.css' %}">
{% endblock %}
{% block body %}

    <div class="content">
        <div class="head">
            Deposit Approval
        </div>
        <div class="info">
          <table>
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Amount</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for deposit in pending_deposits %}
                  <tr>
                    <td>{{ deposit.receiver.username }}</td>
                    <td>{{ deposit.amount }}</td>
                    <td>{{ deposit.created_at }}</td>
                    <td>
                      <form method="post" action="{% url 'approve_deposit' deposit.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btng">Approve</button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
    </div>  

{% endblock %}
