{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'swapmarket/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'swapmarket/css/head.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
  {% if user.is_authenticated %}
    <header class="header">
        <a href="/"><img src="{% static 'swapmarket/pic/logo.png' %}" alt="logo" style="height: 50px; padding-left: 15px;"></a>
        <div class="header-left">
          <a href="/" class="button-headerleft hide" style="font-size: 30px; font-weight: bold;">TUSwapMarket</a>
          <a href="/about" class="button-headerleft hide" style="padding-left: 15px;">About us</a>
        </div>
        <div class="header-right">
            <div style="color: white;margin-right: 20px;">Balance: ฿{{ user.coins_balance }}</div>
            <div class="dropdown">
                {% if user.is_staff %}
                    <div style="color: white; font-size: 20px;">Admin Account</div>
                    {% else %}
                    <div class="imgicon">
                        <img src="{{ user.userpicture.url }}" class="img">
                    </div>
                {% endif %}
                <div class="dropdown-content">
                    <a href="/profile" class="button-headerright">Profile</a>
                    <a href="/inbox" class="button-headerright">Inbox</a>
                    <a href="/cart" class="button-headerright">Mycart</a>
                    <a href="/deposit" class="button-headerright">Deposit</a>
                    {% if user.is_staff %}
                    <a href="/deposit/admin" class="button-headerright">Deposit Admin</a>
                    <a href="/withdraw" class="button-headerright">Withdraw</a>
                    <a href="/withdraw/admin" class="button-headerright">Withdraw Admin</a>
                    <a href="/edit_profile" class="button-headerright">Edit Profile</a>
                    <a href="/changepassword" class="button-headerright">Changepassword</a>
                    <a href="/admin" class="button-headerright">Admin Django</a>
                    <a href="{% url 'user:logout' %}" class="button-headerright">Logout</a>
                    {% else %}
                    <a href="/withdraw" class="button-headerright">Withdraw</a>
                    <a href="/edit_profile" class="button-headerright">Edit Profile</a>
                    <a href="/changepassword" class="button-headerright">Changepassword</a>
                    <a href="{% url 'user:logout' %}" class="button-headerright">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
  {% else %}
    <header class="header" style="z-index: 5;">
        <a href="/"><img src="{% static 'swapmarket/pic/logo.png' %}" alt="logo" style="height: 50px; padding-left: 15px;"></a>
        <div class="header-left">
            <a href="/" class="button-headerleft hide" style="font-size: 30px; font-weight: bold;">TUSwapMarket</a>
            <a href="/about" class="button-headerleft hide" style="padding-left: 15px;">About us</a>
        </div>
        <div class="header-right">
            <a href="/signin" class="button-headerright signinh">Sign in</a>
            <a href="/signup" class="button-headerright signuph">Sign up</a>
        </div>                              
    </header>
    {% endif %}
    <div class="main">
        <div class="side">
            <div class="inside tag">Tag</div>
            <form method="GET" action="{% url 'sbt' %}" class="formtag">  
                {% for category in categories %}          
                <div style="margin-bottom: 2vh;">
                    <label class="insidefometag" for="{{ category.tag }}">{{ category.tag }}</label>                                                                                         
                    <input type="checkbox" name="tags" id="{{ category.tag }}" value="{{ category.tag }}" \ 
                    {% if category.tag in selected_tags %}checked{% endif %} onchange="this.form.submit()">     
                </div>    
                {% endfor %}         
            </form>
            <script>
                var urlParams = new URLSearchParams(window.location.search);
                var selectedTags = urlParams.getAll('tags');
                selectedTags.forEach(function (tag) {
                    var checkbox = document.getElementById(tag);
                    if (checkbox) {
                        checkbox.checked = true;
                    }
                });
            </script>
        </div>
        </div>
        <div class="fbitem hide"></div>
        <div class="content">
            {% for i in item %}
                {% if i.nItem != 0 %}
                <a class="boxitem" href="{% url 'item_detail' username=i.seller.username itemname=i.itemname %}">
                    <div class="bgpic">
                        <img src="{{ i.itempicture.url }}" alt="" class="pic">
                    </div>
                    <div class="namecontainer"><div class="name">{{ i.itemname }}</div></div>
                    <div class="price">
                      ฿{{ i.price }}
                  </div>
                </a>
                {% endif %}
                {% empty %}
                <p>no item</p>
            {% endfor %}
        </div>
    </div>
</body>

</html>