{% extends 'user/layout.html' %}
{% load static %}
{% block title %}Item Detail{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'swapmarket/css/item.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div>
        <div class="picbg"><img src="{{ item.itempicture.url }}" alt="Item Picture" class="pic"></div>
        <div class="namebox">
            <div class="name">Item Name: {{ item.itemname }}</div>
        </div>
        <div class="footbar">
            {% if item.seller.displayname != None %}
            <div>Seller: {{ item.seller.displayname }}</div>
            {% else %}
            <div>Seller: {{ item.seller.username }}</div>
            {% endif %}
            <div>{{ item.nItem }} EA</div>
        </div>
        
        <div class="box">
            <div class="tag">
                <p>Categories: 
                    {% for tag in item.itemtag.all %}
                        {{ tag.tag }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Payment: {{ item.payment }}</p>
                <p>Price: ฿{{ item.price }}</p>
            </div>
            <div class="desc">
                {% if item.itemdescription %}
                    <p>Description : {{ item.itemdescription }}</p>
                {% else %}
                    <p>Description : No Description</p>
                {% endif %}
                <form method="post" class="form1">
                    {% csrf_token %}
                    <div>
                        <input type="nitem_buyers" name="nitem_buyers" class="inputbox" required placeholder="item ea">
                    </div>
                    {% if message %}
                    <p style="color: red;">{{ message }}</p>
                    {% endif %}
                    <br>
                    <div>
                        <input type="submit" value="Buys" class="submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="chat">
            <a href="/chat/{{ item.seller.username }}_{{ user.username }}/?username={{ user.username }}" class="btt">Chat</a>
        </div>
    </div>
</div>
{% endblock %}