{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'swapmarket/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header">
        <a href="/"><img src="{% static 'swapmarket/pic/logo.png' %}" alt="logo" style="height: 50px; padding-left: 15px;"></a>
        <div class="header-left">
            <a href="/" class="button-headerleft" style="font-size: 30px; font-weight: bold;">TUSwapMarket</a>
            <a href="/about" class="button-headerleft" style="padding-left: 15px;">About us</a>
        </div>
        <div class="header-right">
            <a href="#" class="button-headerright">Sign in</a>
            <a href="#" class="button-headerright">Sign up</a>
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>

</html>