{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block link %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'swapmarket/css/head.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% if user.is_authenticated %}
    <header class="header">
      <a href="/"><img src="{% static 'swapmarket/pic/logo.png' %}" alt="logo" style="height: 50px; padding-left: 15px;"></a>
      <div class="header-left">
          <a href="/" class="button-headerleft" style="font-size: 30px; font-weight: bold;">TUSwapMarket</a>
          <a href="/about" class="button-headerleft" style="padding-left: 15px;">About us</a>
      </div>
      <div class="header-right">
        <div class="dropdown">
            <div class="imgicon">
                <img src="{{ user.userpicture.url }}" class="img">
            </div>
            <div class="dropdown-content">
                <a href="/profile" class="button-headerright">Profile</a>
                <a href="/inbox" class="button-headerright">Inbox</a>
                <a href="/cart" class="button-headerright">Mycart</a>
                <a href="/edit_profile" class="button-headerright">Edit Profile</a>
                <a href="/changepassword" class="button-headerright">Changepassword</a>
                <a href="{% url 'user:logout' %}" class="button-headerright">Logout</a>
            </div>
        </div>
      </div>
    </header>
    {% else %}
    <header class="header" style="z-index: 5;">
        <a href="/"><img src="{% static 'swapmarket/pic/logo.png' %}" alt="logo" style="height: 50px; padding-left: 15px;"></a>
        <div class="header-left">
            <a href="/" class="button-headerleft" style="font-size: 30px; font-weight: bold;">TUSwapMarket</a>
            <a href="/about" class="button-headerleft" style="padding-left: 15px;">About us</a>
        </div>
        <div class="header-right">
            <a href="/signin" class="button-headerright">Sign in</a>
            <a href="/signup" class="button-headerright">Sign up</a>
        </div>                              
    </header>
    {% endif %}
    {% block body %}
    {% endblock %}
</body>

</html>