{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'swapmarket/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'swapmarket/css/head.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Homepage</title>
</head>

<body>
    <header class="header" style="z-index: 5;">
        <a href="/"><img src="{% static 'swapmarket/pic/logo.png' %}" alt="logo" style="height: 50px; padding-left: 15px;"></a>
        <div class="header-left">
            <a href="/" class="button-headerleft" style="font-size: 30px; font-weight: bold;">TUSwapMarket</a>
            <a href="/about" class="button-headerleft" style="padding-left: 15px;">About us</a>
        </div>
        <div class="header-right">
            <a href="/signin" class="button-headerright">Sign in</a>
            <a href="/signup" class="button-headerright">Sign up</a>
        </div>
    </header>

    <div class="main">
        <div class="side">
            <div class="inside tag" >Tag</div>
            <form method="GET" action="{% url 'sbt' %}">
                {% for category in categories %}
                    <label for="{{ category.tag }}">{{ category.tag }}</label>
                    <input type="checkbox" name="tags" id="{{ category.tag }}" value="{{ category.tag }}" {% if category.tag in selected_tags %}checked{% endif %} onchange="this.form.submit()">
                {% endfor %}
            </form>
            <script>
                var urlParams = new URLSearchParams(window.location.search);
                var selectedTags = urlParams.getAll('tags');
                if (selectedTags.length === 0) {
                    window.location.href = "{% url 'home' %}";
                }
                selectedTags.forEach(function (tag) {
                    var checkbox = document.getElementById(tag);
                    if (checkbox) {
                        checkbox.checked = true;
                    }
                });
            </script>
        </div>
        <div class="fbitem"></div>
        <div class="content">
            {% for i in item %}
                <a class="boxitem" href="{% url 'item_detail' username=i.seller.username itemname=i.itemname %}">
                    <div class="bcpic">
                        <img src="{{ i.itempicture.url }}" alt="" class="pic">
                    </div>
                    <div class="price">
                        ฿{{ i.price }}
                    </div>
                    <div class="name">{{ i.itemname }}</div>
                </a>
                
                {% empty %}
                <p>no item</p>
                
            {% endfor %}
            
        </div>
    </div>
</body>

</html>