{% extends 'swapmarket/layout.html' %}
{% load static %}
{% block title %}Withdraw page{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="box" style="height: 300px;">
        <div class="top">
            Withdraw Coins
        </div>
        <div class="mycoin" style="margin-top: 30px;">
            Balance : {{ user.coins_balance }}
        </div>
        <form method="post" action="{% url 'withdraw_coins' %}" style="margin-top: 40px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btng">Withdraw</button>
        </form>
    </div>  
</div>
{% endblock %}