{% extends 'user/layout.html' %}
{% load static %}
{% block title %}Withdraw page{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="box" style="height: 38vh;">
        <div class="top">
            Withdraw Coins
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Withdraw</button>
          </form>
    </div>  
</div>
{% endblock %}