{% extends 'swapmarket/layout.html' %}
{% load static %}
{% block title %}Withdraw page{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'user/css/signin.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="box" style="height: 350px;">
        <div class="top">
            Withdraw Coins
        </div>
        <div class="mycoin" style="margin-top: 30px;">
            Balance : {{ user.coins_balance }}
        </div>
        <form method="post" action="{% url 'withdraw_coins' %}" style="margin-top: 40px;">
            {% csrf_token %}
            {{ form.as_p }}
            {% if message %}
            <p style="color: red; margin-top: 10px;">{{message}}</p>
            {% endif %}
            <button type="submit" class="btng">Withdraw</button>
        </form>
        
    </div>  
    <div class="box2">
        <div style="margin-top:15px;">
        <table>
            <thead>
              <tr>
                <th>Username</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for withdraw in pending_withdraws %}
                <tr>
                  <td>{{ withdraw.sender.username }}</td>
                  <td>{{ withdraw.amount }}</td>
                  <td>
                    {% if withdraw.is_confirmed %}
                        Complete
                    {% else %}
                        Pending
                    {% endif %}
                  </td>
                  <td>
                    {% if withdraw.is_confirmed %}
                    {{ withdraw.confirmed_at}}
                    {% else %}
                    {{ withdraw.created_at}}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>
    </div> 
</div>
{% endblock %}