{% extends 'swapmarket/layout.html' %}
{% load static %}
{% block title %}Admin Withdraw{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'swapmarket/css/cart.css' %}">
{% endblock %}
{% block body %}

    <div class="content">
        <div class="head">
            Withdraw Approval
        </div>
        <div class="info">
        <table>
            <thead>
              <tr>
                <th>Username</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for withdraw in pending_withdraws %}
                <tr>
                  <td>{{ withdraw.sender.username }}</td>
                  <td>{{ withdraw.amount }}</td>
                  <td>
                    <form method="post" action="{% url 'approve_withdraw' withdraw.id %}">
                      {% csrf_token %}
                      <button type="submit">Approve</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>  

{% endblock %}
